<tr>
    <th scope="row"><%= NUM+1 %></th>
    <td><%= VALUE.nasporttype %></td>
    <td><%= VALUE.acctstarttime %></td>
    <td><%= VALUE.acctsessiontime %></td>
    <td><%= VALUE.servicetype %></td>
    <td><%= VALUE.acctterminatecause %></td>
</tr>